.sales-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.export-btn {
  background: #16a34a;
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  margin-bottom: 15px;
}

.table .row {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 10px;
  background: white;
  margin-bottom: 5px;
}

.head {
  background: #111827;
  color: rgb(5, 4, 4);
  border-bottom: 2px solid #111827;
}

@media(max-width:600px){
  .table .row {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
