* {
  box-sizing: border-box;
  font-family: "Segoe UI", system-ui;
}

body {
  margin: 0;
  background: #f3f4f6;
}

input, button {
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 12px;
  font-size: 15px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #1e40af;
}

a {
  text-decoration: none;
  color: #2563eb;
}
